.modal {
	visibility: hidden;
	opacity: 0;
	background-color: #00000080;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.modal_type_preview {
	padding: 0 16px;
}

.modal_is-opened {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease-in-out, visibility 0s;
}

.modal__container {
	max-width: 730px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: #fff;
	padding: 32px 50px;
	position: relative;
	color: #212121;
}

.modal__close-btn {
	position: absolute;
	top: 32px;
	right: 50px;
	width: 40px;
	height: 40px;
	background: url("../images/close.svg");
	background-size: cover;
	border: none;
	margin: 0;
	padding: 0;
	align-self: center;
	opacity: 0.5;
	border: 2px;
}

.modal__close-btn_type_preview {
	top: 0;
	right: -52.5px;
	background: url("../images/modalClose.svg");
}

.modal__close-btn:hover {
	cursor: pointer;
	opacity: 1;
}

.modal__close-btn_type_preview:hover {
	opacity: 40%;
}

.modal__title {
	margin: 0 0 32px;
	font-family: Poppins;
	font-size: 32px;
	line-height: 1;
	font-weight: 500;
}

.modal__form {
	display: flex;
	flex-direction: column;
	max-width: 700px;
}

.modal__label {
	margin: 0 0 32px;
	display: block;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.1;
	font-weight: 500;
}

.modal__input {
	display: block;
	box-sizing: border-box;
	margin-top: 8px;
	width: 100%;
	padding: 16px 12px;
	border-radius: 8px;
	border-color: #21212166;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
	border-width: 1px;
}

.modal__input::placeholder {
	color: #2121214d;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
}

.modal__input:hover {
	border-color: #212121;
}

.modal__input_type_error {
	border: 1px solid rgba(255, 0, 0, 0.6);
}


.modal__error {
	display: block;
	color: #FF0000;
	opacity: 0.7;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.10;
	font-weight: 500;
	margin-top: 8px;
}

.modal__submit-btn {
	max-width: 156px;
	border: none;
	width: 100%;
	padding: 18px 32px;
	border-radius: 8px;
	background-color: #212121;
	color: #fcf5e5;
}

.modal__submit-btn:hover {
	background-color: #212121CC;
	cursor: pointer;
}

.modal__submit-btn:disabled {
	background-color: #21212180;
	cursor: default;
}

.modal__image-container {
	position: relative;
}

.modal__image {
	max-width: 85vw;
	max-height: 85vh;
	width: auto;
	object-fit: contain;
	display: block;
	border-radius: 8px;
	margin-bottom: 12px;
}

.modal__caption {
	color: #fff;
	background-color: #212121;
	display: inline;
	border-radius: 8px;
	padding: 4px 8px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
}

@media screen and (max-width: 627px) {
	.modal__container {
		padding: 12px;
	}

	.modal__close-btn {
		top: 12px;
		right: 12px;
	}

	.modal__title {
		font-size: 20px;
		margin: 0 0 34px;
	}

	.modal__input {
		font-size: 16px;
	}

	.modal__input::placeholder {
		font-size: 16px;
	}

	.modal__submit-btn {
		max-width: none;
	}

	.modal__close-btn_type_preview {
		top: -48px;
		right: 0;
	}
	
	.modal__image {
		max-width: 95vw;
		border-radius: 4px;
	}

	.modal__caption {
		font-size: 16px;
	}
}
