.modal {
	visibility: hidden;
	background-color: #00000080;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_is-opened {
	visibility: visible;
}

.modal__container {
	max-width: 730px;
	width: 100%;
	border-radius: 8px;
	background-color: #fff;
	padding: 32px 50px;
	position: relative;
}

.modal__close-btn {
	position: absolute;
	top: 32px;
	right: 50px;
	width: 40px;
	height: 40px;
	background: url("../images/close.svg");
	background-size: cover;
	border: none;
	margin: 0;
	padding: 0;
	align-self: center;
}

.modal__close-btn:hover {
    opacity: 0.8;
}



.modal__title {
	margin: 0 0 32px;
	font-family: Poppins;
	font-size: 32px;
	line-height: 1;
	font-weight: 500;
}

.modal__form {
	display: flex;
	flex-direction: column;
}

.modal__label {
	margin: 0 0 32px;
	font-family: Poppins;
	font-size: 16px;
	line-height: 1.1;
	font-weight: 500;
}

.modal__input {
	display: block;
	margin-top: 8px;
	width: 100%;
	padding: 16px 12px;
	border-radius: 8px;
	border-color: #21212166;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
}

.modal__input:hover {
	cursor: pointer;
}

.modal__input::placeholder {
	color: #2121214d;
	font-family: Poppins;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
}

.modal__submit-btn {
	max-width: 156px;
	width: 100%;
	padding: 18px 32px;
	border-radius: 8px;
	background-color: #212121;
	color: #fcf5e5;
}

.modal__submit-btn:hover {
    background-color: rgba(33, 33, 33, 0.8);
    cursor: pointer;
}
