.profile {
	display: flex;
	padding: 34px 0 20px;
	border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
	margin-right: 20px;
	height: 190px;
	width: 190px;
	border-radius: 8px;
}

.profile__column {
	display: flex;
	flex-direction: column;
}

.profile__name {
	margin: 0 0 12px;
	max-width: 420px;
	font-weight: 500;
	font-size: 32px;
	line-height: 1;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.profile__description {
	margin: 0;
	max-width: 200px;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	opacity: .7;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.profile__edit-btn {
	font-size: 16px; 
	font-weight: 500;
	line-height: 1;
	margin-top: auto;
	background-color: transparent;
	border: none;
	margin-right: auto;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn:hover {
	color: rgb(33, 33, 33);
	cursor: pointer;
}

.profile__avatar-edit-btn {
	font-size: 16px; 
	font-weight: 500;
	line-height: 1;
	margin-top: auto;
	background-color: transparent;
	border: none;
	margin-right: auto;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: #ffffff;
}

.profile__add-btn {
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	margin-left: auto;
	margin-top: auto;
	background-color: #212121;
	color: #fcf5e5;
	padding: 18px 32px;
	border-radius: 8px;
	width: 149px;
	height: 52px;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
}

.profile__add-btn:hover {
	background-color: rgba(33, 33, 33, 0.8);
	cursor: pointer;
}

@media screen and (max-width: 627px) {
	.profile {
		flex-direction: column;
		max-width: 288px;
		align-items: center;
		text-align: center;
		padding-top: 20px;
	}

	.profile__avatar {
		margin-right: 0;
		width: 80px;
		height: 80px;
		margin: 0 0 12px;
	}

	.profile__description {
		margin: 0 0 32px;
	}

	.profile__name {
		font-size: 20px;
		margin: 0 0 6px;
		max-width: 288px;
	}

	.profile__column {
		margin: 0 0 20px;
	}

	.profile__edit-btn {
		margin-left: auto;
	}

	.profile__add-btn {
		margin-left: 0;
		width: 100%;
	}
}
